In [1]:
import pandas as pd

In [5]:
forecast_demand_file_path = '../data/forecastdemand_nsw.csv'
forecast_demand = pd.read_csv(forecast_demand_file_path)

In [3]:
df

,DATETIME,REGIONID,FORECASTDEMAND,PREDISPATCHSEQNO,PERIODID,LASTCHANGED
0,2010-01-01 00:00:00,NSW1,7832.04,2009123018,71,2009-12-30 12:31:49
1,2010-01-01 00:00:00,NSW1,7832.04,2009123019,70,2009-12-30 13:01:43
2,2010-01-01 00:00:00,NSW1,7832.03,2009123020,69,2009-12-30 13:31:36
3,2010-01-01 00:00:00,NSW1,7832.03,2009123021,68,2009-12-30 14:01:44
4,2010-01-01 00:00:00,NSW1,7830.96,2009123022,67,2009-12-30 14:31:35
...,...,...,...,...,...,...
11619498,2022-08-01 00:00:00,NSW1,8227.36,2022073136,5,2022-07-31 21:32:14
11619499,2022-08-01 00:00:00,NSW1,8175.04,2022073137,4,2022-07-31 22:01:54
11619500,2022-08-01 00:00:00,NSW1,8145.10,2022073138,3,2022-07-31 22:32:00
11619501,2022-08-01 00:00:00,NSW1,8136.92,2022073139,2,2022-07-31 23:01:49
11619502,2022-08-01 00:00:00,NSW1,8157.87,2022073140,1,2022-07-31 23:31:52